/* Body styling */
body {
  font-family: "Noto Sans", sans-serif;
  background-color: whitesmoke; }

/* Common property classes */
.corner {
  border-radius: 0px; }

.right {
  float: right; }

.bottom-gap {
  margin-bottom: 20px; }

a:hover {
  text-decoration: none; }

.text-sm {
  font-size: 0.8em; }

/* Bootstrap mods */
.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  .row.row-eq-height [class*='col-'] {
    display: flex;
    flex-direction: column; }

/* Input */
input.form-control:focus {
  box-shadow: none; }

/* Page box styling */
.page-box {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px #ccc;
  margin-bottom: 50px; }
  .page-box .page-box-title {
    border-bottom: 2px solid whitesmoke;
    padding: 15px;
    padding-left: 20px;
    font-size: 1.3em;
    font-weight: 700; }
  .page-box .page-box-nav {
    border-bottom: 2px solid whitesmoke;
    padding: 15px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: 1.3em; }
  .page-box .page-box-content {
    padding: 20px; }
  .page-box img {
    width: 90%; }
  .page-box .video-thumbnail-title {
    margin-top: 5px;
    font-weight: 700; }

/* Tabbed content */
.tab-bar {
  margin-top: 10px; }
  .tab-bar .tab {
    border-bottom: 4px solid transparent;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 10px;
    font-weight: 700; }
  .tab-bar .tab.active {
    color: #2a81b7;
    border-bottom: 4px solid #2a81b7; }

.tab-bar > div {
  display: inline-block; }

.tab-content {
  display: none; }
