#searchBar {
  padding: 20px; }

#searchSuggestions {
  background-color: white;
  color: black;
  text-align: left;
  box-shadow: 0px 2px 2px 0px #ccc; }

.suggestion-item {
  list-style: none;
  padding: 5px;
  padding-left: 10px;
  cursor: pointer; }

.suggestion-item:hover {
  background-color: lavender; }
