#watchVideoPlayerBox {
  width: 100%;
  background-color: #111;
  box-shadow: 0px 0px 2px 0px #ccc; }

#watchVideoInfo .channel-avatar, #watchVideoInfo .channel-name {
  display: inline-block; }

#watchVideoInfo .channel-avatar img {
  width: 50px;
  height: 50px; }

#watchVideoInfo .channel-name {
  padding-left: 10px; }

#watchVideoInfo #videoInteraction span {
  cursor: pointer; }

#watchVideoInfo #videoInteraction span.active {
  color: #2b3d4f; }

#watchVideoInfo #description {
  min-height: 100px;
  height: 100px;
  overflow: hidden; }

#watchVideoInfo #descriptionOverlay {
  position: relative;
  top: -100px;
  height: 100px;
  width: 100%;
  margin-bottom: -100px;
  background: linear-gradient(to bottom, transparent 25%, #fff 100%); }

#watchVideoInfo #descriptionToggle {
  padding: 10px; }

#watchVideoInfo #descriptionToggle:hover {
  background-color: whitesmoke; }

#watchVideoInfo #collapseDescriptionMsg {
  display: none; }

#watchVideoInfo #videoTags p {
  line-height: 1.8em; }

#watchVideoInfo .tag-label {
  margin-right: 3px; }
