# Python cache
*.pyc
__pycache__/
*/__pycache__/

# Flask cache
static/public/
static/.webassets-cache/

# Virtual environment folders
venv/
venv_py2/
venv_py3/

# Node modules
node_modules/

# Configuration file
config.py
