# Virtual environment folders
venv/
venv_py2/
venv_py3/

# Node modules
node_modules/

# Python cache
*.pyc
__pycache__/
*/__pycache__/

# Flask static cache
flaskapp/static/public/
flaskapp/static/.webassets-cache/

# Configuration file
flaskapp/config.py
