# Used to set : app.config['SEND_FILE_MAX_AGE_DEFAULT']
static_file_max_age = 3600*24*7

# Database config

mysql_user = ""
mysql_pass = ""
mysql_name = "video_search_engine"

mongo_user = ""
mongo_pass = ""
mongo_name = "video_search_engine"

neo4j_user = ""
neo4j_pass = ""
neo4j_name = "video_search_engine"
