@import './variables';


/* Body styling */

body {
    font-family: $font-text;
    background-color: $color-bg-light;
}


/* Common property classes */

.corner {
    border-radius: 0px;
}

.right {
    float: right;
}

.bottom-gap {
    margin-bottom: 20px;
}

.video-link, .video-link:hover {
    text-decoration: none;
}

.text-sm {
    font-size: 0.8em;
}


/* Bootstrap mods */

.row.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
}


/* Input */

input.form-control:focus {
    box-shadow: none;
}

/* Page box styling */

.page-box {
    background-color: #fff;
    box-shadow: $drop-shadow;
    margin-bottom: 50px;

    .page-box-title {
        border-bottom: 2px solid $color-bg-light;
        padding: 15px;
        padding-left: 20px;
        font-size: 1.3em;
    }

    .page-box-content {
        padding: 20px;
    }

    img {
        width: 90%;
    }

    .video-thumbnail-title {
        margin-top: 5px;
        font-weight: 700;
    }
}
