@import './variables';


/* Body styling */

body {
    font-family: $font-text;
    background-color: $color-bg-light;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Common property classes */

.corner {
    border-radius: 0px;
}

.left {
    float: left;
}
.right {
    float: right;
}

.bottom-gap {
    margin-bottom: 20px;
}


/* Links */

a:hover {
    text-decoration: none;
}
a.dark {
    color: $color-text-dark;
}

.link {
    cursor: pointer;
    color: $color-blue-light;
}
.link:hover {
    color: $color-blue-dark;
}


/* Text */

.text-sm {
    font-size: 0.8em;
}

.bold {
    font-weight: 700;
}


/* Bootstrap mods */

.row.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;

    [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
}

.label.label-light {
    background-color: #eee;
    color: #666;
}


/* Input */

input.form-control:focus {
    box-shadow: none;
}


/* Page box styling */

.page-box {
    background-color: #fff;
    box-shadow: $drop-shadow;
    margin-bottom: 10px;

    .page-box-title {
        border-bottom: 2px solid $color-bg-light;
        padding: 15px;
        padding-left: 20px;
        font-size: 1.3em;
        font-weight: 700;
    }

    .page-box-nav {
        border-bottom: 2px solid $color-bg-light;
        padding: 15px;
        padding-bottom: 0px;
        padding-left: 20px;
        font-size: 1.3em;
    }

    .page-box-content {
        padding: 20px;
    }

    img {
        width: 90%;
    }

    .video-thumbnail-title {
        margin-top: 5px;
        font-weight: 700;
    }
}


/* Tabbed content */

.tab-bar {
    margin-top: 10px;

    .tab {
        border-bottom: 4px solid transparent;
        cursor: pointer;
        padding: 10px;
        padding-bottom: 10px;
        font-weight: 700;
    }
    .tab.active {
        color: $color-blue-dark;
        border-bottom: 4px solid $color-blue-dark;
    }
}

.tab-bar > div {
    display: inline-block;
}

.tab-content {
    display: none;
}
