@import './variables';

nav {
    z-index: 1000;
}
nav.navbar-inverse {
    background-color: $color-asphalt-light;
    margin: 0;
    box-shadow: 0px 0px 10px 0px $color-asphalt-dark;
    border: none;
    outline: none;
}
nav.navbar-inverse ul.navbar-nav>li>a {
    color: $color-text-bright;
    font-size: 1.3em;
}
nav.navbar-inverse ul.navbar-nav>li>a:hover {
    background-color: $color-asphalt-dark;
}
nav.navbar-inverse ul.navbar-nav>li>a.navbar-brand>h1 {
    color: white;
    font-size: 1.1em;
    margin-top: 0;
}
nav.navbar-inverse ul.navbar-nav>li>a.navbar-brand:hover{
    background-color: $color-asphalt-light;
}

.navbar-collapse.collapse {
    display: block!important;
}
.navbar-nav>li, .navbar-nav {
    float: left !important;
}
.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}
.navbar-right {
    float: right!important;
}

#menuButton {
    cursor: pointer;
    margin-right: 20px;
}
