// Using colors from http://nitish6174.com/color-palette/

// Font
$font-text : 'Noto Sans', sans-serif;
$font-headings : 'Noto Sans', sans-serif;

// Colors
$color-purple-light  : hsl(271,68%,32%);
$color-purple-dark   : hsl(274,100%,25%);
$color-violet-light  : hsl(282,38%,53%);
$color-violet-dark   : hsl(282,43%,47%);
$color-blue-light    : hsl(204,69%,53%);
$color-blue-dark     : hsl(203,63%,44%);
$color-mint-light    : hsl(168,75%,41%);
$color-mint-dark     : hsl(168,75%,35%);
$color-green-light   : hsl(145,63%,49%);
$color-green-dark    : hsl(145,63%,41%);
$color-yellow-light  : hsl(48,88%,50%);
$color-yellow-dark   : hsl(36,90%,51%);
$color-orange-light  : hsl(28,79%,51%);
$color-orange-dark   : hsl(23,100%,41%);
$color-red-light     : hsl(5,78%,57%);
$color-red-dark      : hsl(5,63%,46%);
$color-brown-light   : hsl(34,69%,42%);
$color-brown-dark    : hsl(35,69%,29%);
$color-asphalt-light : hsl(210,28%,28%);
$color-asphalt-dark  : hsl(210,29%,24%);
$color-grey-light    : hsl(183,8%,61%);
$color-grey-dark     : hsl(184,5%,52%);
$color-black-light   : #555;
$color-black-dark    : #363636;

$color-bg-light      : whitesmoke;
$color-bg-dark       : #333;
$color-text-bright   : #fff;
$color-text-dim      : #ddd;
$color-text-dark     : #333;

// Shadow
$drop-shadow         : 0px 0px 2px 0px #ccc;
