@import './variables';

#watchVideoPlayerBox {
    width: 100%;
    background-color: #111;
    box-shadow: $drop-shadow;
}

#watchVideoInfo {
    .channel-avatar , .channel-name {
        display: inline-block;
    }
    .channel-avatar img {
        width: 50px;
        height: 50px;
    }
    .channel-name {
        padding-left: 10px;
    }

    #videoInteraction span {
        cursor: pointer;
    }
    #videoInteraction span.active {
        color: $color-blue-dark;
    }

    #description {
        min-height: 100px;
        height: 100px;
        overflow: hidden;        
    }
    #descriptionOverlay {
        position: relative;
        top: -100px;
        height: 100px;
        width: 100%;
        margin-bottom: -100px;
        background: linear-gradient(to bottom, transparent 25%, #fff 100%);
    }
    #descriptionToggle {
        padding: 10px;
    }
    #descriptionToggle:hover {
        background-color: $color-bg-light;
    }
    #collapseDescriptionMsg {
        display: none;
    }

    #videoTags p {
        line-height: 1.8em;
    }
    .tag-label {
        // margin-top: 5px;
        margin-right: 3px;
    }
}
