{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Video search engine" %}
{# {% set ico_file_name    = "favicon" %} #}
{% set meta_description = "Video search engine based on MySQL, MongoDB, Neo4j" %}
{% set meta_keywords    = "video,search,engine,flask,mysql,mongodb,neo4j" %}
{% set assets_css       = "channel_css" %}
{% set assets_js        = "channel_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Video search engine" %}
{% set search_bar       = True %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

<div class="container">

    <div class="page-box" id="channelVideosBox">
        <div class="page-box-title">{{ channel_name }}</div>
        <div class="page-box-content">
            <div class="row row-eq-height">
            {% for x in channel_videos %}
                <div class="col-lg-3 col-sm-4 text-center">
                    {% set url = x['snippet']['thumbnails']['high']['url'] %}
                    <a class="video-link" href="/watch/{{ x['id'] }}">
                    <img src="{{ url }}">
                    <div class="text-left">
                        <div class="video-thumbnail-title">{{ x['snippet']['title'] }}</div>
                        <div class="text-muted">{{ x['snippet']['channelTitle'] }}</div>
                        <div class="text-muted text-sm">{{ x['statistics']['viewCount'] }} views</div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
