{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Video search engine" %}
{# {% set ico_file_name    = "favicon" %} #}
{% set meta_description = "Video search engine based on MySQL, MongoDB, Neo4j" %}
{% set meta_keywords    = "video,search,engine,flask,mysql,mongodb,neo4j" %}
{% set assets_css       = "home_css" %}
{% set assets_js        = "home_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Video search engine" %}
{% set search_bar       = True %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

<div class="container">

    {% for list in lists %}
    {% if list["video_list"]|length > 0 %}
    <div class="page-box video-list-box">
        <div class="page-box-title">{{ list["list_title"] }}</div>
        <div class="page-box-content">
            <div class="row row-eq-height">
            {% for x in list["video_list"] %}
                <div class="col-lg-3 col-sm-4 text-center">
                    {% set channel_id = x['snippet']['channelId'] %}
                    {% set channel_name = x['snippet']['channelTitle'] %}
                    {% set url = x['snippet']['thumbnails']['high']['url'] %}
                    <a class="video-link" href="/watch/{{ x['id'] }}">
                    <img src="{{ url }}">
                    <div class="text-left">
                        <div class="video-thumbnail-title">{{ x['snippet']['title'] }}</div>
                        <div class="text-muted">
                            <a href="/channel/{{ channel_id }}" title="{{ channel_name }}">{{ channel_name }}</a>
                        </div>
                        <div class="text-muted text-sm">{{ x['statistics']['viewCount'] }} views</div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
