<div id="leftPane">
    <div class="pane-group">
        <a class="dark" href="/">
            <div class="pane-item">
                <h4><i class="glyphicon glyphicon-home"></i> Home</h4>
            </div>
        </a>
        <a class="dark" href="/recently-watched">
            <div class="pane-item">
                <h4><i class="glyphicon glyphicon-hourglass"></i> History</h4>
            </div>
        </a>
        <a class="dark" href="/watch-later">
            <div class="pane-item">
                <h4><i class="glyphicon glyphicon-time"></i> Watch later</h4>
            </div>
        </a>
        <a class="dark" href="/recommended-videos">
            <div class="pane-item">
                <h4><i class="glyphicon glyphicon-star"></i> Recommended videos</h4>
            </div>
        </a>
    </div>
</div>
