{% extends "user.html" %}



{# Page variables #}
{% set head_title = "Login - Video search engine" %}



{# Head block #}
{% block head %}

{% endblock %}



{# Form box content #}
{% block form_box %}

<h2>Sign in</h2>
<div id="formBox">
    <form action="/login", method="POST">
        <div class="form-group">
           <input type="text" class="form-control corner" placeholder="Username" name="user_name" required autofocus>
        </div>
        <div class="form-group">
           <input type="password" class="form-control corner" placeholder="Password" name="user_pass" required>
        </div>
        <div class="form-group">
           <button class="btn btn-lg btn-primary btn-block corner" type="submit">Sign in</button>
        </div>
    </form>
</div>
<a href="/signup" class="text-center form-footer-link">Create an account</a>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
