<div class="container" id="searchBar">
    <form id="searchForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control corner" placeholder="Search videos">
                <span class="input-group-btn">
                <button class="btn btn-primary corner" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    </form>
</div>
