<div class="container" id="searchBar">
    <form id="searchForm" onsubmit="searchInput();">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input type="text" class="form-control corner" id="searchInput" placeholder="Search videos" autocomplete="off">
                <span class="input-group-btn">
                <button class="btn btn-primary corner" type="button" id="searchSubmit"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    </form>
    <div id="searchSuggestions"></div>
</div>
