{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Video search engine" %}
{# {% set ico_file_name    = "favicon" %} #}
{% set meta_description = "Video search engine based on MySQL, MongoDB, Neo4j" %}
{% set meta_keywords    = "video,search,engine,flask,mysql,mongodb,neo4j" %}
{% set assets_css       = "watch_css" %}
{% set assets_js        = "watch_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Video search engine" %}
{% set search_bar       = True %}



{# Month name from number #}
{% set month = {
    "01":"Jan", "02":"Feb", "03":"Mar", "04":"Apr", "05":"May", "06":"Jun",
    "07":"Jul", "08":"Aug", "09":"Sep", "10":"Oct", "11":"Nov", "12":"Dec"
    }
%}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

<div class="container">

    <div class="row">
        <div class="col-sm-7">
            <div class="embed-responsive embed-responsive-16by9" id="watchVideoPlayerBox">
              <iframe class="embed-responsive-item" src="http://youtube.com/embed/{{display_video['id']}}" ></iframe>
            </div>
            <div class="page-box" id="watchVideoInfo">
                <div class="page-box-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{ display_video['snippet']['title'] }}</h3>
                            <hr>
                            <div class="clearfix">
                                <div class="right text-right">
                                    <h4>
                                        <span class="comma">{{ display_video['statistics']['viewCount'] }}</span> views
                                    </h4>
                                    <hr>
                                    <h5>
                                        <span class="video-interaction" id="likeVideo"><i class="fa fa-thumbs-o-up"></i></span>
                                        <span class="comma">{{ display_video['statistics']['likeCount'] }}</span>
                                        &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                                        <span class="video-interaction" id="dislikeVideo"><i class="fa fa-thumbs-o-down"></i></span>
                                        <span class="comma">{{ display_video['statistics']['dislikeCount'] }}</span>
                                    </h5>
                                    <h5>
                                        <span class="comma">{{ display_video['statistics']['commentCount'] }}</span> comments
                                    </h5>
                                </div>
                                <div>
                                    <div class="channel-avatar">
                                        {% set channel_id = display_video['snippet']['channelId'] %}
                                        {% set channel_name = display_video['snippet']['channelTitle'] %}
                                        {% set channel_img_url = "https://i.ytimg.com/i/"+channel_id+"/1.jpg" %}
                                        <img src="{{ channel_img_url }}" alt="{{ channel_name }}">
                                    </div>
                                    <div class="channel-name bold">
                                        <a href="/channel/{{ channel_id }}" title="{{ channel_name }}">{{ channel_name }}</a>
                                    </div>
                                </div>
                                <br>
                                {% set date = display_video['snippet']['publishedAt'][:10] %}
                                {% set disp_date = date[8:] + " " + month[date[5:7]] + " " + date[:4] %}
                                <div class="publish-date"><strong>Published on :</strong> {{ disp_date }}</div>
                                <br>
                                {% if user == True %}
                                <h3>
                                    {% if video_interaction["watch_later_status"] == True %}
                                    <span class="video-interaction active" id="watchLater"><i class="glyphicon glyphicon-time" title="Remove from watch later"></i></span>
                                    {% else %}
                                    <span class="video-interaction" id="watchLater"><i class="glyphicon glyphicon-time" title="Add to watch later"></i></span>
                                    {% endif %}
                                </h3>
                                {% endif %}
                            </div>
                            <hr>
                            {% set description = (display_video['snippet']['description']).split('\n') %}
                            <div id="description">
                            <p>
                            {% for x in description %}
                                {{ x }}
                                <br>
                            {% endfor %}
                            </p>
                            </div>
                            <div id="descriptionOverlay"></div>
                            <h5 class="text-center link active" id="descriptionToggle">
                                <span id="expandDescriptionMsg">
                                    <i class="glyphicon glyphicon-chevron-down"></i> 
                                    View full description
                                </span>
                                <span id="collapseDescriptionMsg">
                                    <i class="glyphicon glyphicon-chevron-up"></i> 
                                    Hide description
                                </span>
                            </h5>
                            <hr>
                            <div id="videoTags">
                            <h4 class="bold">Tags</h4>
                            <p>
                            {% set tags = (display_video['snippet']['tags']) %}
                            {% for x in tags %}
                                <span class="label label-light tag-label">{{ x }}</span>
                            {% endfor %}
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="page-box" id="relatedVideosBox">
                <div class="page-box-title">Related videos</div>
                <div class="page-box-content">
                    <div class="row">
                    {% for x in related_videos %}
                        <div class="bottom-gap">
                        <a href="/watch/{{ x['id'] }}" class="related-video" name="{{x['id']}}">
                            <div class="col-xs-4 text-center">
                                {% set url = x['snippet']['thumbnails']['high']['url'] %}
                                <img src="{{ url }}">
                            </div>
                            <div class="col-xs-8">
                                {% set channel_id = x['snippet']['channelId'] %}
                                {% set channel_name = x['snippet']['channelTitle'] %}
                                <div class="video-thumbnail-title">{{ x['snippet']['title'] }}</div>
                                <div class="text-muted">
                                    <a href="/channel/{{ channel_id }}" title="{{ channel_name }}">{{ channel_name }}</a>
                                </div>
                                <div class="text-muted text-sm">
                                    <span class="comma">{{ x['statistics']['viewCount'] }}</span> views
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}


{# Scripts block #}
{% block scripts %}

doc_id = '{{ display_video["_id"] }}';
currentVideo = '{{ display_video["id"] }}';

{% endblock %}
