{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Home page" %}
{# {% set ico_file_name    = "favicon" %} #}
{% set meta_description = "Home page's description" %}
{% set meta_keywords    = "flask,website" %}
{% set assets_css       = "home_css" %}
{% set assets_js        = "home_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Home page" %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

<div class="container">

    <h1 class="text-center">Home page</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

</div>

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
