{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "New page" %}
{# {% set ico_file_name    = "favicon" %} #}
{% set meta_description = "New page's description" %}
{% set meta_keywords    = "flask,website" %}
{% set assets_css       = "home_css" %}
{% set assets_js        = "home_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "New page" %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
