{% extends "layout.html" %}



{# Page variables #}
{% set head_title       = "Video search engine" %}
{# {% set ico_file_name    = "favicon" %} #}
{% set meta_description = "Video search engine based on MySQL, MongoDB, Neo4j" %}
{% set meta_keywords    = "video,search,engine,flask,mysql,mongodb,neo4j" %}
{% set assets_css       = "home_css" %}
{% set assets_js        = "home_js" %}
{% set nav_bar          = True %}
{% set nav_title        = "Video search engine" %}
{% set search_bar       = False %}



{# Head block #}
{% block head %}

{% endblock %}



{# Body content #}
{% block body %}

{% endblock %}



{# Scripts block #}
{% block scripts %}

{% endblock %}
